body {
    font-family: Georgia, sans-serif;
    font-size: 24px;
}

th {
    font-size: 30px;
    border-bottom: 2px solid black;
    padding: 15px;
}

img {
    width: 127px;
    height: 80px;
}

legend {
    text-align: center;
}

#outerTable {
    border: 2px solid black;
    border-radius: 10px;
}

#leftInnerTable {
    border:2px solid black;
    margin: 10px;
	padding: 5px 10px 10px 10px;
}

fieldset {
    border: 2px solid black;
	padding: 8.4px 0 0 0;
}

a {
    color: #28cac5
}

#sliders > form {
    font-size: 26px;
    width: 250px;
    margin: 40px 0;
}

p {
    margin: 15px;
}

input[type="range"] {
	margin: 5px 10px;
	width: 80%;
	cursor: pointer;
}